.wrap {
  &-header {
    position: relative;
    height: 100vh;
    @media screen and (max-width: 834px) {
      height: 82vh;
    }
  }
  &-main {
    position: relative;
  }
  &-footer {
    background-color: var(--main-color);
    @media screen and (max-width: 834px) {
      margin-top: 40px;
    }
  }
}

.overprint1 {
  position: absolute;
  top: -10%;
  left: -5%;
  width: 30%;
  z-index: -10;
  @media screen and (max-width: 834px) {
    width: 80%;
  }
}
.logo {
  padding: 40px 0;
  width: 85%;
  margin: 0 auto;
  @media screen and (max-width: 834px) {
    padding: 144px 0 15px;
    width: 100%;
  }
}

.overprint2 {
  position: absolute;
  top: 70%;
  z-index: -10;
  width: 20%;
  @media screen and (max-width: 834px) {
    top: 68%;
    left: -10%;
    width: 36%;
  }
}
.overprint3 {
 position: absolute;
  top: 33%;
  right: 0;
  width: 37%;
  @media screen and (max-width: 834px) {
    top: 70%;
    width: 65%;
  }
}
.overprint4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
}
.overprint5 {
  position: absolute;
  top: 12%;
  left: 0;
  width: 44%;
  transform: rotate(12deg);
}
.overprint6 {
  position: absolute;
  top: 26%;
  right: 0;
  width: 25%;
  transform: rotate(0deg);
}
.overprint8 {
  position: absolute;
  top: 81%;
  right: 18%;
  width: 23%;
  transform: rotate(314deg);
}
.overprint9 {
  position: absolute;
  left: 0;
  top: 95%;
  width: 29%;
}

.test-img {
  width: 60%;
  position: relative;
  img {
    border-radius: 10px;
  }
}