.wrap {
  &-header {
    position: relative;
    height: 100vh;
    @media screen and (max-width: 774px) {
      height: 82vh;
    }
  }
  &-main {
    position: relative;
  }
  &-footer {
    background-color: var(--main-color);
    @media screen and (max-width: 1024px) {
      margin-top: 7rem;
    }
    @media screen and (max-width: 834px) {
      margin: 5rem 0 0;
    }
    //@media screen and (max-width: 774px) {
    //  margin-top: 25rem;
    //}
    //@media screen and (max-width: 430px) {
    //  margin-top: 20rem;
    //}
  }
}

.logo {
  padding: 2.5rem 0; //40px
  width: 85%;
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    padding: 5rem 0;
    width: 100%;
  }
  @media screen and (max-width: 834px) {
    padding: 9rem 0 0.9rem; // 144px 0 15px
    width: 100%;
  }
  @media screen and (max-width: 744px) {
    padding: 5rem 0 0.9rem; //80px 0 15px
  }
}
.logo2 {
  padding: 10.5rem 0 9.5rem;
  width: 60%;
  margin: 0 auto;
}

.overprint1 {
  position: absolute;
  top: -10%;
  left: -5%;
  width: 30%;
  z-index: -10;
  @media screen and (max-width: 1280px) {
    width: 40%;
  }
  @media screen and (max-width: 1024px) {
    width: 45%;
  }
  @media screen and (max-width: 834px) {
    width: 45%;
  }
  @media screen and (max-width: 744px) {
    width: 45%;
  }
  @media screen and (max-width: 430px) {
    width: 58%;
  }
}
.overprint2 {
  position: absolute;
  top: 70%;
  z-index: -10;
  width: 20%;
  @media screen and (max-width: 1280px) {
    top: 80%;
    width: 25%;
  }
  @media screen and (max-width: 1024px) {
    top: 90%;
    width: 24%;
  }
  @media screen and (max-width: 834px) {
    top: 81%;
    width: 29%;
  }
  @media screen and (max-width: 774px) {
    top: 75%;
    left: -10%;
    width: 25%;
  }
  @media screen and (max-width: 430px) {
    width: 46%;
    top: 60%;
  }
}
.overprint3 {
 position: absolute;
  top: 33%;
  right: 0;
  width: 37%;
  @media screen and (max-width: 1024px) {
    top: 55%;
    width: 43%;
  }
  @media screen and (max-width: 834px) {
    top: 56%;
    right: -5%;
    width: 42%;
  }
  @media screen and (max-width: 774px) {
    top: 39%;
    width: 41%;
  }
  @media screen and (max-width: 430px) {
    top: 32%;
    width: 48%;
  }
}
.overprint4 {
  position: absolute;
  transform: rotate(335deg);
  width: 37%;
  right: -6rem;
  top: 4rem;
  @media screen and (max-width: 734px) {
    left: -4rem;
    top: 5rem;
    transform: rotate(77deg);
  }
  @media screen and (max-width: 430px) {
    right: -3rem;
    position: absolute;
    top: -6%;
    width: 49%;
  }
}
.overprint5 {
  position: absolute;
  transform: rotate(335deg);
  width: 40%;
  right: -7rem;
  top: 88rem;
}


.test-img {
  width: 60%;
  position: relative;
  img {
    border-radius: 10px;
  }
}