<div class="wrap-footer">
    <div class="container">
        <div class="footer">
            <div class="footer__list">
                <div class="footer__column">
                    <div class="footer-title">Меню</div>
                    <ul class="footer-menu footer-menu-list">
                        <li><a href="/pages/longread/longread.html">Статьи</a></li>
                        <li><a href="/pages/library/aromalibrary.html">Библиотека ароматов</a></li>
                        <li><a href="/pages/entertainments/bingo.html">Тесты</a></li>
                        <li><a href="/pages/about_us/about_us.html">О нас</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <div class="footer-title">Медиа</div>
                    <ul class="footer-menu footer-menu-media">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">VK</a></li>
                        <li><a href="#">Telegram</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <div class="footer-title">Дополнительно</div>
                    <ul class="footer-menu footer-extras-menu">
                        <li><a href="#">@varvaraseven</a></li>
                        <li><a href="#">@DevilSilver</a></li>
                        <li><a href="#">Стайлгайд бренда</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>