<div class="container">
    <nav class="navigation">
        <ul class="navigation__menu">
            <li class="menu-item"><a href="/index.html">превью</a></li>
            <li class="menu-item"><a href="/pages/longread/longread.html">статьи</a></li>
            <li class="menu-item"><a href="/pages/about_us/about_us.html">о нас</a></li>
            <li class="menu-item"><a href="/pages/library/aromalibrary.html">библиотека ароматов</a></li>
            <li class="menu-item"><a href="/pages/entertainments/bingo.html">тесты</a></li>
        </ul>
    </nav>
</div>
